@import url('https://fonts.googleapis.com/css2?family=Nunito');

* {
    font-family: Nunito;
}

body {
    background-color: #fbfdff;
	overflow-y: hidden;
	padding: 20px;
}

#container {
	min-width: fit-content;
	min-height: 200px;
	margin: auto;
	margin-top: 7%;
	text-align: center;
	padding: 20px;
	background-color: #fdfeff;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	transition: display 0.3s linear;
}

.question-text {
    color: darkblue;
}

.results {
	margin-top: 0;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
	margin: auto;
	/* margin-bottom: 10px; */
	padding: 7px;
}

input[type=radio] {
    vertical-align: middle;
    flex: 0 0 auto;
    accent-color: #00006b;
}

.controls {
	display: block;
	margin-top: auto;
	text-align: center;
	position: fixed;
	left: 50%;
	bottom: 31%;
	transform: translateX(-50%);
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #00006b;
    border: 0;
    color: white;
    transition: 0.1s linear;
    cursor: pointer;
    opacity: 0.8;
}

.controls button, #button {
	margin: 2px;
	margin-top: 23px;
}

button:disabled {
    background-color: rgb(119, 119, 164);
    cursor: not-allowed;
}

button:hover {
    opacity: 1;
}

#container #loader {
	z-index: 1;
	width: 70px;
	height: 70px;
	/* margin: -47px 0 0 -47px; */
	margin: auto;
	margin-top: 33px;
	border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #00006b;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

.result-item {
	background-color: #fdfeff;
	padding: 10px;
	border-radius: 5px;
	margin: auto;
	margin-top: 10px;
	position: relative;
	width: 75%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.result-item:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo {
	width: 4.3%;
	display: block;
	position: absolute;
	top: 7px;
	left: 7px;
	border-radius: 50%;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.401);
	transition: 0.25s linear;
}

#logo:hover {
	width: 5%;
	box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.605);
}

@keyframes fadeIn {
	from {
		bottom: -100px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes moveUp {
	0% {
		top: 30px;
	}

	100% {
		top: 7px;
	}
}

#number, #category {
	padding: 8px;
	width: 90%;
	border-radius: 4px;
	border: 1px solid #a0a0a0;
	margin-bottom: 10px;
}

#number {
	font-style: italic;
}

#number:focus, #category:focus {
	outline: none;
	border: 2px solid #b0b9ff;
}

#category {
	background-color: #fdfeff;
	width: 94%;
}

#category optgroup {
	color: #00006b;
	font-style: normal;
}

#category option {
	color: black;
}
